<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class = "container-fluid">
		<div class = "navbar-header">
			<%= link_to "sample app", '#', class: "navbar-brand",id: "logo" %>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav pull-right">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Help", help_path %></li>
				<li><%= link_to "Sign in", signup_path %></li>
			</ul>
		</div>
	</div>
</nav>